.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.clock {
    text-align: center;
    margin: 20px;
}

.watch {
    font-size: 24px;
    margin-bottom: 10px;
}

.watch strong {
}

.more {
    font-size: 18px;
    margin-bottom: 20px;
}