.spanBlock {
    display: flex;
    align-items: center;
   
}

.span {
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 4px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.pen {
    width: 16px;
    height: 16px;
    margin-right: 8px;
   
}